@{
    ViewData["Title"] = "Inicio";
}
<div class="p-5 bg-light rounded-3">
    <h1 class="display-6">Bienvenido a tu Biblioteca Personal</h1>
    <p class="lead">Gestiona tus libros, autores, amigos y préstamos.</p>
    <a class="btn btn-primary" asp-controller="Book" asp-action="Index">Ir a Libros</a>
</div>