@model BibliotecaCulturalItla.Domain.Entities.Book

<h2>Agregar Libro</h2>

<form method="post">
    <label>Título:</label>
    <input type="text" name="Title" class="form-control" />

    <label>Autor ID:</label>
    <input type="number" name="AuthorId" class="form-control" />

    <label>Género:</label>
    <input type="text" name="Genre" class="form-control" />

    <label>Año:</label>
    <input type="number" name="YearPublished" class="form-control" />

    <br />
    <button class="btn btn-primary">Guardar</button>
</form>

