@model BibliotecaCulturalItla.Domain.Entities.Book
@{
    ViewData["Title"] = "Editar Libro";
}
<h2>Editar Libro</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="BookId" />
    <div class="mb-3">
        <label class="form-label">Título</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">AuthorId</label>
        <input asp-for="AuthorId" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Género</label>
        <input asp-for="Genre" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Año</label>
        <input asp-for="YearPublished" class="form-control" type="number" />
    </div>
    <div class="form-check mb-3">
        <input asp-for="Available" class="form-check-input" />
        <label class="form-check-label">Disponible</label>
    </div>

    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

